.pokemonCard {
  width: min(320px, 100%);
  border: 10px solid black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 400ms ease;
}

.pokemonCard__header {
  height: 200px;
}

.pokemonCard__body {
  padding: 20px;
}

.pokemonCard__img {
  position: absolute;
  top: 0;
}

.pokemonCard__img:hover {
  transform: translateY(-1%);
  transition: all 400ms ease;
}

.pokemonCard__name {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
  text-transform: capitalize;
}

.pokemonCard__types {
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  margin: 4px 0;
}

.pokemonCard__type-subtitle {
  text-align: center;
  color: gray;
  font-size: 15px;
}

.pokemonCard__line {
  width: 200%;
  position: relative;
  left: -20%;
}

.pokemonCard__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.pokemonCard__stat {
  text-align: center;
}

.pokemonCard__stat-name {
  text-transform: uppercase;
  color: gray;
  font-weight: normal;
}

.pokemonCard__stat-value {
  font-size: 18px;
  margin-top: 4px;
}

/* types styles */

.border-normal {
  border: 10px solid #735259;
}

.border-fighting {
  border: 10px solid #96402a;
}

.border-flying {
  border: 10px solid #beb14c;
}

.border-poison {
  border: 10px solid #5b3184;
}

.border-ground {
  border: 10px solid #654008;
}

.border-rock {
  border: 10px solid #7e7e7e;
}

.border-bug {
  border: 10px solid #e52d2d;
}

.border-ghost {
  border: 10px solid #323569;
}

.border-steel {
  border: 10px solid #5e736c;
}

.border-fire {
  border: 10px solid #f96d6f;
}

.border-water {
  border: 10px solid #133258;
}

.border-grass {
  border: 10px solid #7ec6c5;
}

.border-electric {
  border: 10px solid #0c1395;
}

.border-psychic {
  border: 10px solid #e52d2d;
}

.border-ice {
  border: 10px solid #6fbedf;
}

.border-dragon {
  border: 10px solid #478a93;
}

.border-dark {
  border: 10px solid #030706;
}

.border-fairy {
  border: 10px solid #971b45;
}

.border-unknown {
  border: 10px solid #696767;
}

.border-shadow {
  border: 10px solid #6c31a3;
}

/* background linear gradient */

.bg-lg-normal {
  background: linear-gradient(180deg, #735259, #000);
}

.bg-lg-fighting {
  background: linear-gradient(180deg, #96402a, #000);
}

.bg-lg-flying {
  background: linear-gradient(180deg, #beb14c, #000);
}

.bg-lg-poison {
  background: linear-gradient(180deg, #5b3184, #000);
}

.bg-lg-ground {
  background: linear-gradient(180deg, #654008, #000);
}

.bg-lg-rock {
  background: linear-gradient(180deg, #7e7e7e, #000);
}

.bg-lg-bug {
  background: linear-gradient(180deg, #e52d2d, #000);
}

.bg-lg-ghost {
  background: linear-gradient(180deg, #323569, #000);
}

.bg-lg-steel {
  background: linear-gradient(180deg, #5e736c, #000);
}

.bg-lg-fire {
  background: linear-gradient(180deg, #f96d6f, #000);
}

.bg-lg-water {
  background: linear-gradient(180deg, #133258, #000);
}

.bg-lg-grass {
  background: linear-gradient(180deg, #7ec6c5, #000);
}

.bg-lg-electric {
  background: linear-gradient(180deg, #0c1395, #000);
}

.bg-lg-psychic {
  background: linear-gradient(180deg, #e52d2d, #000);
}

.bg-lg-ice {
  background: linear-gradient(180deg, #6fbedf, #000);
}

.bg-lg-dragon {
  background: linear-gradient(180deg, #478a93, #000);
}

.bg-lg-dark {
  background: linear-gradient(180deg, #030706, #000);
}

.bg-lg-fairy {
  background: linear-gradient(180deg, #971b45, #000);
}

.bg-lg-unknown {
  background: linear-gradient(180deg, #696767, #000);
}

.bg-lg-shadow {
  background: linear-gradient(180deg, #6c31a3, #000);
}
